@font-face {
    font-family: Overpass;
    src: url('../font/Overpass-Regular.ttf');
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url('../font/ShareTechMono-Regular.ttf');
}

body {
    font-family: 'Share Tech Mono', sans-serif;
    background-size: cover;
    background-position: center center;
    color: #FFFFFF;
    background-color: #c6c6c6;
}

div {
    color: #FFFFFF;
    vertical-align: 50%;
    text-align: center;
    font-size: 300%;
}

table {
    width: 50%;
    margin: 0 auto;
    font-family: 'Overpass', sans-serif;
    border-collapse: collapse;
    border-radius: 10px;
    color: #000000;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


a:hover, a:visited, a:link {
    color: #FFFFFF;
}

.gra {
    width: 100%;
    height: 25%;
    position: absolute;
    background: rgb(0,0,0);
    pointer-events: none;
    z-index: 10;
}

.top {
    top: 0;
    left: 0;    
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
}

.bottom {
    bottom: 0;
    left: 0;    
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.date {
    position: absolute;
    top: 10;
    right: 10;
    font-size: 25px;
}

.time {
    /* position: absolute;
    top: 45;
    left: 10; */
    font-size: 60px;
}

.logo {
    position: absolute;
    top: 10;
    left: 10;
    z-index: 11;
}

.time, .date {
    display: inline-block;
    padding: 5px;
    font-family: 'Share Tech Mono', monospace;
    user-select: none;
    z-index: 11;
}

.bg {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}

#message {
    min-height: 122px;
    text-shadow: 2px 2px 40px #000000;
    user-select: none;
}

.footer {
    position: fixed;
    width: 45%;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    text-align: right;
    line-height: 20px;
    text-transform: capitalize;
    z-index: 11;
}

.left {
    left: 10px;
    right: unset;
    text-align: left;
}

.safron {
    color: #FF9933;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #000000;
}

.green {
    color: #138808;
}

.options a:hover, .options a:visited, .options a:link {
    color: #000000;
}

.options {
    color: #000000;
    background-color: #FFFFFF;
}


